/* line 10, /Users/hokamura/Works/project/webtech-walker/source/css/app/_abstract.scss */
.mod-posts, .mod-tags, .mod-about, .mod-author, .mod-tagpage {
  margin-bottom: 50px; }
  /* line 13, /Users/hokamura/Works/project/webtech-walker/source/css/app/_abstract.scss */
  .mod-posts h2, .mod-tags h2, .mod-about h2, .mod-author h2, .mod-tagpage h2 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0 0 5px 0;
    color: #666; }

/* line 21, /Users/hokamura/Works/project/webtech-walker/source/css/app/_abstract.scss */
.mod-posts ul, .mod-tagpage ul {
  margin: 10px 0;
  padding: 0 0 0 5px; }
  /* line 25, /Users/hokamura/Works/project/webtech-walker/source/css/app/_abstract.scss */
  .mod-posts ul li, .mod-tagpage ul li {
    margin: 5px 0;
    padding: 0;
    list-style: none; }
    /* line 30, /Users/hokamura/Works/project/webtech-walker/source/css/app/_abstract.scss */
    .mod-posts ul li a, .mod-tagpage ul li a {
      display: inline-block;
      padding-left: 15px;
      background: url(/img/common/bg-arrow.png) no-repeat 0 8px; }
    /* line 36, /Users/hokamura/Works/project/webtech-walker/source/css/app/_abstract.scss */
    .mod-posts ul li time, .mod-tagpage ul li time {
      display: inline-block;
      margin-left: 10px;
      font-size: 13px;
      color: #777; }

/* line 1, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight {
  background: #f8f8f8; }

/* line 2, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .c {
  color: #408080;
  font-style: italic; }

/* Comment */
/* line 4, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .k {
  color: #008000;
  font-weight: bold; }

/* Keyword */
/* line 5, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .o {
  color: #666666; }

/* Operator */
/* line 6, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .cm {
  color: #408080;
  font-style: italic; }

/* Comment.Multiline */
/* line 7, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .cp {
  color: #bc7a00; }

/* Comment.Preproc */
/* line 8, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .c1 {
  color: #408080;
  font-style: italic; }

/* Comment.Single */
/* line 9, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .cs {
  color: #408080;
  font-style: italic; }

/* Comment.Special */
/* line 10, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .gd {
  color: #a00000; }

/* Generic.Deleted */
/* line 11, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
/* line 12, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .gr {
  color: red; }

/* Generic.Error */
/* line 13, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .gh {
  color: #000080;
  font-weight: bold; }

/* Generic.Heading */
/* line 14, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .gi {
  color: #00a000; }

/* Generic.Inserted */
/* line 15, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .go {
  color: gray; }

/* Generic.Output */
/* line 16, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .gp {
  color: #000080;
  font-weight: bold; }

/* Generic.Prompt */
/* line 17, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
/* line 18, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .gu {
  color: #800080;
  font-weight: bold; }

/* Generic.Subheading */
/* line 19, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .gt {
  color: #0040d0; }

/* Generic.Traceback */
/* line 20, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .kc {
  color: #008000;
  font-weight: bold; }

/* Keyword.Constant */
/* line 21, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .kd {
  color: #008000;
  font-weight: bold; }

/* Keyword.Declaration */
/* line 22, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .kn {
  color: #008000;
  font-weight: bold; }

/* Keyword.Namespace */
/* line 23, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .kp {
  color: green; }

/* Keyword.Pseudo */
/* line 24, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .kr {
  color: #008000;
  font-weight: bold; }

/* Keyword.Reserved */
/* line 25, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .kt {
  color: #b00040; }

/* Keyword.Type */
/* line 26, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .m {
  color: #666666; }

/* Literal.Number */
/* line 27, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .s {
  color: #ba2121; }

/* Literal.String */
/* line 28, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .na {
  color: #7d9029; }

/* Name.Attribute */
/* line 29, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .nb {
  color: green; }

/* Name.Builtin */
/* line 30, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .nc {
  color: #0000FF;
  font-weight: bold; }

/* Name.Class */
/* line 31, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .no {
  color: #880000; }

/* Name.Constant */
/* line 32, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .nd {
  color: #aa22ff; }

/* Name.Decorator */
/* line 33, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .ni {
  color: #999999;
  font-weight: bold; }

/* Name.Entity */
/* line 34, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .ne {
  color: #D2413A;
  font-weight: bold; }

/* Name.Exception */
/* line 35, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .nf {
  color: blue; }

/* Name.Function */
/* line 36, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .nl {
  color: #a0a000; }

/* Name.Label */
/* line 37, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .nn {
  color: #0000FF;
  font-weight: bold; }

/* Name.Namespace */
/* line 38, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .nt {
  color: #008000;
  font-weight: bold; }

/* Name.Tag */
/* line 39, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .nv {
  color: #19177c; }

/* Name.Variable */
/* line 40, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .ow {
  color: #AA22FF;
  font-weight: bold; }

/* Operator.Word */
/* line 41, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
/* line 42, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .mf {
  color: #666666; }

/* Literal.Number.Float */
/* line 43, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .mh {
  color: #666666; }

/* Literal.Number.Hex */
/* line 44, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .mi {
  color: #666666; }

/* Literal.Number.Integer */
/* line 45, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .mo {
  color: #666666; }

/* Literal.Number.Oct */
/* line 46, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .sb {
  color: #ba2121; }

/* Literal.String.Backtick */
/* line 47, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .sc {
  color: #ba2121; }

/* Literal.String.Char */
/* line 48, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .sd {
  color: #BA2121;
  font-style: italic; }

/* Literal.String.Doc */
/* line 49, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .s2 {
  color: #ba2121; }

/* Literal.String.Double */
/* line 50, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .se {
  color: #BB6622;
  font-weight: bold; }

/* Literal.String.Escape */
/* line 51, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .sh {
  color: #ba2121; }

/* Literal.String.Heredoc */
/* line 52, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .si {
  color: #BB6688;
  font-weight: bold; }

/* Literal.String.Interpol */
/* line 53, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .sx {
  color: green; }

/* Literal.String.Other */
/* line 54, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .sr {
  color: #bb6688; }

/* Literal.String.Regex */
/* line 55, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .s1 {
  color: #ba2121; }

/* Literal.String.Single */
/* line 56, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .ss {
  color: #19177c; }

/* Literal.String.Symbol */
/* line 57, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .bp {
  color: green; }

/* Name.Builtin.Pseudo */
/* line 58, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .vc {
  color: #19177c; }

/* Name.Variable.Class */
/* line 59, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .vg {
  color: #19177c; }

/* Name.Variable.Global */
/* line 60, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .vi {
  color: #19177c; }

/* Name.Variable.Instance */
/* line 61, /Users/hokamura/Works/project/webtech-walker/source/css/app/_pygments.scss */
.highlight .il {
  color: #666666; }

/* Literal.Number.Integer.Long */
/* line 1, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, form, blockquote {
  margin: 0;
  padding: 0; }

/* line 7, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
code,
.highlight {
  font-family: monaco, osaka-mono, monospace;
  font-size: 13px; }

/* line 12, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
a {
  color: #3399cc; }

/* line 16, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
a:visited {
  color: #B9209A; }

/* line 20, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
a:hover {
  color: #bd3348; }

/* line 24, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
img {
  border: 0; }

/* line 28, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
body, html {
  height: 100%; }

/* line 32, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
body {
  margin: 0;
  padding: 0;
  background: #3399cc;
  color: #333;
  line-height: 1.5;
  font-family: 'Hiragino Kaku Gothic Pro', Meiryo, 'MS PGothic', Verdana, Arial, sans-serif; }

/* line 41, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
.mod-content {
  min-height: calc(100% - 250px);
  background: url(/img/common/bg-all.png), #fbfbfb;
  padding-bottom: 80px; }

/* line 47, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
.mod-search {
  border-bottom: 1px solid #297aa3;
  height: 39px;
  overflow: hidden; }
  /* line 52, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-search > div {
    max-width: 720px;
    padding: 0 10px;
    margin: 0 auto; }
    /* line 57, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
    .mod-search > div > div {
      width: 320px;
      float: right;
      position: relative;
      top: -10px;
      right: -13px; }

/* line 67, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
.mod-header {
  position: relative;
  max-width: 720px;
  margin: 0 auto; }
  /* line 72, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-header h1 {
    padding: 65px 0;
    text-align: center; }
    /* line 76, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
    .mod-header h1 img {
      width: 500px;
      height: 60px; }

/* line 83, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
.mod-footer {
  color: #FFF;
  padding: 10px 0;
  text-align: center;
  height: 110px; }
  /* line 89, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-footer > div {
    max-width: 720px;
    margin: 0 auto; }
  /* line 94, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-footer .name {
    margin: 10px 0;
    font-size: 12px;
    color: #EFEFEF;
    font-style: italic; }
  /* line 101, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-footer .icons {
    margin: 20px 0;
    padding: 0; }
    /* line 104, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
    .mod-footer .icons li {
      display: inline-block;
      margin: 0 5px; }
      /* line 108, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
      .mod-footer .icons li a:hover {
        opacity: 0.8; }

/* line 115, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
.mod-main {
  max-width: 720px;
  padding: 0 10px;
  margin: 0 auto; }

/* line 132, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
.mod-tags ol {
  list-style: none;
  margin: 0;
  padding: 0; }
  /* line 137, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-tags ol li {
    display: inline-block;
    white-space: nowrap;
    margin: 2px 3px; }

/* line 162, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
.mod-404 h1 {
  margin-bottom: 20px; }

/* line 168, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
.mod-entry time {
  display: block;
  background: url(/img/common/bg-border1.png) no-repeat 0 center;
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 5px; }
/* line 177, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
.mod-entry .tags {
  text-align: right;
  margin: 0;
  padding: 0; }
  /* line 182, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .tags li {
    display: inline-block;
    list-style: none;
    margin-right: 5px; }
/* line 189, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
.mod-entry h1 {
  font-size: 28px;
  color: #000;
  margin-bottom: 40px; }
/* line 195, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
.mod-entry .body {
  background: url(/img/common/bg-border2.png) no-repeat 0 bottom;
  padding-bottom: 20px;
  margin-bottom: 10px;
  /*
      pre code {
        display: block;
        position: relative;
  
        &:after {
          content: attr(class);
          display: inline-block;
          position: absolute;
          top: -25px;
          right: -10px;
          font-size: 42px;
          color: #E2E2E2;
          text-transform: uppercase;
          font-family: sans-serif;
          font-weight: bold;
        }
      }
  */ }
  /* line 200, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body img {
    max-width: 100%;
    height: auto; }
  /* line 205, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body a {
    word-wrap: break-word; }
  /* line 209, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body h2 {
    font-size: 20px;
    margin: 40px 0 15px;
    color: #000; }
  /* line 215, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body h2::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    background: #3399cc;
    margin-right: 7px;
    position: relative;
    top: -3px; }
  /* line 226, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body h3 {
    font-size: 18px;
    margin: 30px 0 15px; }
  /* line 231, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body h4, .mod-entry .body h5, .mod-entry .body h6 {
    font-size: 16px;
    margin: 20px 0 15px; }
  /* line 236, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body p {
    margin: 15px 0; }
  /* line 240, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body ul, .mod-entry .body ol {
    margin: 15px 0;
    padding-left: 30px; }
  /* line 245, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body li {
    margin: 5px 0; }
  /* line 249, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body li p {
    margin: 5px 0; }
  /* line 253, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body ul li {
    list-style: circle; }
    /* line 256, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
    .mod-entry .body ul li ul, .mod-entry .body ul li ol {
      margin: 5px 0; }
    /* line 260, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
    .mod-entry .body ul li li {
      list-style: square; }
  /* line 265, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body blockquote {
    margin: 20px 0 0 30px;
    background: #F5F5F5;
    border-left: 2px solid #3399cc;
    padding: 1px 20px; }
  /* line 272, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body pre {
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #CCC;
    line-height: 1.8;
    overflow: auto;
    background: #F8F8F8; }
  /* line 282, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body p code,
  .mod-entry .body li code {
    background: #FCFCFC;
    display: inline-block;
    padding: 0 2px;
    margin: 0 3px;
    border: 1px solid #CCC;
    vertical-align: top; }
  /* line 311, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body table {
    margin: 15px 0;
    border-collapse: collapse; }
  /* line 316, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body td, .mod-entry .body th {
    padding: 5px;
    border: 1px solid #CCC; }
  /* line 321, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body th {
    background: #EFEFEF; }
  /* line 325, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body td {
    background: #FFF; }
  /* line 329, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body dl {
    margin: 15px 0; }
  /* line 333, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body dt {
    font-weight: bold;
    margin-bottom: 5px; }
  /* line 338, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body dd {
    padding-left: 15px;
    margin-bottom: 10px; }
  /* line 343, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body figure {
    display: block;
    text-align: center; }
  /* line 348, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body figcaption {
    display: block; }
  /* line 352, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body .caption {
    font-size: 13px;
    color: #666;
    display: block; }
  /* line 358, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .body .mod-ads {
    margin: 20px 0 10px; }
    /* line 361, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
    .mod-entry .body .mod-ads .adsbygoogle {
      width: 728px;
      height: 90px; }
/* line 371, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
.mod-entry .socials div {
  display: inline-block;
  vertical-align: top; }
/* line 376, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
.mod-entry .paginate {
  margin: 20px 0; }
  /* line 379, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
  .mod-entry .paginate li {
    list-style: none;
    margin: 10px 0; }
    /* line 383, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
    .mod-entry .paginate li span {
      display: inline-block;
      margin-right: 10px;
      font-weight: bold;
      font-size: 20px;
      color: #999;
      font-style: italic;
      font-family: serif; }
/* line 395, /Users/hokamura/Works/project/webtech-walker/source/css/app/_main.scss */
.mod-entry #disqus_thread {
  margin: 40px 0 20px; }

@media screen and (max-width: 720px) {
  /* line 4, /Users/hokamura/Works/project/webtech-walker/source/css/app/_smartphone.scss */
  .mod-entry time {
    background-image: none;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding-top: 5px;
    padding-bottom: 5px; }
  /* line 14, /Users/hokamura/Works/project/webtech-walker/source/css/app/_smartphone.scss */
  .mod-entry .body .mod-ads .adsbygoogle {
    width: 300px;
    height: 250px; } }
@media screen and (max-width: 500px) {
  /* line 26, /Users/hokamura/Works/project/webtech-walker/source/css/app/_smartphone.scss */
  .mod-header h1 {
    padding: 30px 0; }
    /* line 29, /Users/hokamura/Works/project/webtech-walker/source/css/app/_smartphone.scss */
    .mod-header h1 img {
      width: 250px;
      height: 30px; } }
